<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>You can do it!</p>
    <a href="/sam/home">전송 페이지 이동!</a>
  </body>
</html>
